<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               https://raw.githubusercontent.com/qos-ch/logback/master/logback-core/src/main/resources/chapters/configuration/logback.xsd">
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cloub.alin" level="DEBUG" />
    <logger name="org.apache.zookeeper.ZooKeeper" level="WARN" />

    <logger name="io.netty.handler.logging.LoggingHandler" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>


<!--    &lt;!&ndash; 根日志级别 &ndash;&gt;-->
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--    </root>-->
</configuration>